include base.pug
include head.pug
body
    h1 #{title}
     if (session)
         #usr_photo
             img(src=session.user.photos[0].value)
         #usr_name #{session.user.displayName}
     else
         h2 ログイン
         a(href="/oauth/twitter") twitterログイン